---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
        <div>
          <a href="https://de.linkedin.com/in/uhlitz">
            <img src="images/social/LinkedIn.png" width="25vp" height="25vp"></a>
          <a href="https://www.researchgate.net/profile/Florian_Uhlitz">
            <img src="images/social/ResearchGate.png" width="25vp" height="25vp"></a>
          <a href="https://github.com/uhlitz">
            <img src="images/social/GitHub.png" width="25vp" height="25vp"></a>
        </div>
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
